:root {
  --color-primary: #191919;
  --color-second: #8B57C6;
  --color-third: #6C3EB8;
  --background-color: #212123;
  
  // Global colors
  --color-white: #F6F6F7;
  --color-dark: #212a2e;
  --color-blue-iris: #543fd7;
}