.item {
  font-size: 13px;
  color: var(--grey);
  display: flex;
  align-items: center;
  column-gap: 16px;

  &:hover {
    color: var(--light);
  }

  .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    height: 50px;
    width: 50px;
  }
}