.icon_fav {
  stroke: var(--grey);
  fill: none;

  &:hover {
    path {
      stroke: var(--white);
    }
  }
}

.icon_cart {
  fill: fill(--grey);

  &:hover {
    path {
      fill: var(--white);
    }
  }
}