.size {
  padding: 4px 8px;
  border-radius: 8px;
  background: var(--background-color);
  cursor: pointer;

  &:hover {
    background: var(--violet);
  }
  &.active {
    background: var(--violet);
  }
}